

{% if target.name == 'databricks' %}
version: 2

models:
  - name: stg_ecommerce
    description: "Tabela de staging do ecommerce"
    columns:
      - name: Product_ID
        tests:
          - not_null
          - unique

      - name: User_ID
        tests:
          - not_null

      - name: Purchase_Date
        tests:
          - not_null

      - name: Category
        tests:
          - not_null

      - name: Price
        tests:
          - not_null
          - non_negative

      - name: Discount
        tests:
          - not_null
          - non_negative

      - name: Final_Price
        tests:
          - not_null
          - non_negative

      - name: Payment_Method
        tests:
          - not_null
          - accepted_values:
              values: ['Credit Card', 'Net Banking', 'UPI', 'Debit Card', 'Cash on Delivery']
{% endif %}



